#searchButton{
    margin-top: 0.5em;
    background: #9B00DB;
    color: #ffffff;
    height: 2.8em;
    width: 7em;
    padding-top: 0.6em;
}
.navbar-inverse{
     border-color: #9B00DB;
     margin-bottom: 0;
}
#inputSearchEvent{
    margin-top: 0.5em;
    width: 50em;
    display: block;
}

.margZ{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;

}
#leftNav{
    width: 100%;
}
#logContainer{
    width: 20%;
}
#headPic{
    margin: 1px;
}
.v{
    background-color: #FE6210;
    color: #ffffff;
}
#eventList{
      border: #000000;
      /*background-color: #ffffff;*/
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #fff;
    background-color: #9B00DB;
}
.nav>li>a:focus, .nav>li>a:hover{
        text-decoration: none;
    background-color: #eee;
}
.secondCol{
    background-color: #eee;
}
.mainMargin{
    margin-top: 2em;
    margin-bottom: 4em;
}
#map{ 
    height: 30em;
}
body{
    background: url(../resources/headPic.jpg) ;
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#mainContainer{
    background: #ffffff;
    
    margin-left: 4em;
    margin-right: 4em;
}

